$font:'Roboto', sans-serif;
$bg-body:#ffffff;
$btn-color:#087fbd;
$link-color:#077fbd;

$color-black:#000000;
$color-white:#ffffff;
$aside-font-size:12.61px;

$form-title-color:#191919;
$form-description-color:#cfcfcf;
$form-header-font-size:21.18px;
$form-description-font-size:12.61px;
$form-placeholder-color:#dddddd;
$form-input-border-color:#cccccc;